ConnectionStrings__DefaultConnection=Server=TU_HOST_O_TUNEL,1433;Database=join_db;User Id=SA;Password=TU_PASSWORD;TrustServerCertificate=True;
Jwt__Key=TU_CLAVE_JWT_DE_AL_MENOS_32_CARACTERES
SendGrid__ApiKey=TU_API_KEY_DE_SENDGRID